<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>TutorSpace a Free Secure Video Calls, Chat & Screen Sharing.</title>
        <link rel="shortcut icon" href="../images/apple-touch-icon.png" />
        <link rel="apple-touch-icon" href="../images/apple-touch-icon.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="TutorSpace powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="MiroTalk calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.com" />

        <!-- xss -->

        <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->
        <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-firestore.js"></script>
        <script async src="../js/umami.js"></script>
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                            TutorSpace<br />Free browser based Real-time video calls designed for tutors.<br />
                                           
                                        </h1>
                                        <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                            Start your next video call with a single click. No download, plug-in, or
                                            login is required. Just get straight to talking, messaging, and sharing your
                                            screen. Just visit tutorspace.app to get started.
                                        </p>
                                        <div class="create-room">
                                            <input type="text" id="roomName" placeholder="Enter room name" />
                                            <button onclick="createRoom()">Create Room</button>
                                        </div>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                

        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
        <script defer src="../js/landing2.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
